*{
    margin: 0%; 
}

body {
    zoom: 1.4;
    color: #DDE6ED;
}

header {
    text-align: center;
    padding: 20px;
    margin: 0px;
    color: lightgray;
    background-color: #27374D;

    
}

main {
    padding: 50px !important;
    margin: 0px;
    background-color: #495159;
    color: whitesmoke;
    min-height: 36.3vh;
    margin-bottom: -65px;
}

footer, .push {
    height: 65px;
}



footer {
    margin: 0px;
    padding: 5px;
    text-align: center;
    background-color: #526D82;
    color: #B6EADA;
}

li {
    margin: 25px;
}

p {
    margin: 10px;
}


a {
    text-decoration: none;
}

.myButton { 
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 0.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    margin: 2px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    border-color: #fff;

}
.myButton:hover {
    color: #495159;
    background-color: #fff;
    border-color: #fff;
}

#insta, #discord {
    color: blue;
    text-decoration: underline;
}

header nav {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 20px;
}


